.wrap.p-t-0
  %footer.app-footer
    .clearfix
      %ul.footer-menu.pull-right
        %li
          %a{:href => "javascript:void(0)"} Politica de Privacidad
      .copyright.pull-left Copyright Inelec International SAS © Design By Maxcorp SAS 2017