.list-group.m-0{:style => "overflow-y: true !important;"}
    %a.list-group-item.clearfix{:href => "#"}
        %i.fa.fa-user-circle
        %small.text-center Nombre del Cliente
        %p 
            Nombre de la Empresa
    %a.list-group-item.clearfix{:href => "#"}
        %i.fa.fa-user-circle
        %small.text-center Nombre del Cliente
        %p
            Nombre de la Empresa
    %a.list-group-item.clearfix{:href => "#"}
        %i.fa.fa-user-circle
        %small.text-center Nombre del Cliente
        %p
            Nombre de la Empresa
    %a.list-group-item.clearfix{:href => "#"}
        %i.fa.fa-user-circle
        %small.text-center Nombre del Cliente
        %p
            Nombre de la Empresa
    %a.list-group-item.clearfix{:href => "#"}
        %i.fa.fa-user-circle
        %small.text-center Nombre del Cliente
        %p
            Nombre de la Empresa    