.list-group.m-0{:style => "height: 390px; overflow-y: auto;"}
    %a.list-group-item.clearfix{:href => "#"}
        %i.fa.fa-user-circle
        %small.text-center Nombre del Cliente
        %small.pull-right
            %i.fa.fa-times{:style => "color: red;"}
        %p 
            Nombre de la Empresa

    %a.list-group-item.clearfix{:href => "#"}
        %i.fa.fa-user-circle
        %small.text-center Nombre del Cliente
        %small.pull-right
            %i.fa.fa-times{:style => "color: red;"}
        %p
            Nombre de la Empresa
    %a.list-group-item.clearfix{:href => "#"}
        %i.fa.fa-user-circle
        %small.text-center Nombre del Cliente
        %small.pull-right
            %i.fa.fa-times{:style => "color: red;"}
        %p
            Nombre de la Empresa
    %a.list-group-item.clearfix{:href => "#"}
        %i.fa.fa-user-circle
        %small.text-center Nombre del Cliente
        %small.pull-right
            %i.fa.fa-times{:style => "color: red;"}
        %p
            Nombre de la Empresa
    %a.list-group-item.clearfix{:href => "#"}
        %i.fa.fa-user-circle
        %small.text-center Nombre del Cliente
        %small.pull-right
            %i.fa.fa-times{:style => "color: red;"}
        %p
            Nombre de la Empresa    