.list-group.m-0
    %a.list-group-item.clearfix{:href => "#"}
    %span.pull-left.avatar.avatar-circle
        %img{:alt => "", :src => "../assets/images/flags/Egypt.png"}/
    %span.pull-left.fw-500.fz-md Egypt
    .pull-right
        $
        %span{"data-plugin" => "counterUp"} 64258
    %a.list-group-item.clearfix{:href => "#"}
    %span.pull-left.avatar.avatar-circle
        %img{:alt => "", :src => "../assets/images/flags/Italy.png"}/
    %span.pull-left.fw-500.fz-md Italy
    .pull-right
        $
        %span{"data-plugin" => "counterUp"} 55825
    %a.list-group-item.clearfix{:href => "#"}
    %span.pull-left.avatar.avatar-circle
        %img{:alt => "", :src => "../assets/images/flags/United-States-of-America.png"}/
    %span.pull-left.fw-500.fz-md USA
    .pull-right
        $
        %span{"data-plugin" => "counterUp"} 4587
    %a.list-group-item.clearfix{:href => "#"}
    %span.pull-left.avatar.avatar-circle
        %img{:alt => "", :src => "../assets/images/flags/China.png"}/
    %span.pull-left.fw-500.fz-md China
    .pull-right
        $
        %span{"data-plugin" => "counterUp"} 4465
    %a.list-group-item.clearfix{:href => "#"}
    %span.pull-left.avatar.avatar-circle
        %img{:alt => "", :src => "../assets/images/flags/Russia.png"}/
    %span.pull-left.fw-500.fz-md Russia
    .pull-right
        $
        %span{"data-plugin" => "counterUp"} 3300
    %a.list-group-item.clearfix{:href => "#"}
    %span.pull-left.avatar.avatar-circle
        %img{:alt => "", :src => "../assets/images/flags/France.png"}/
    %span.pull-left.fw-500.fz-md France
    .pull-right
        $
        %span{"data-plugin" => "counterUp"} 350