.wrap
  %section.app-content
    .row
      .col-md-4
        .widget
          %header.widget-header
            %h4.widget-title.text-center Correos Enviados
            //%small.pull-right.text-muted Hoy
          %hr.widget-separator/
          .widget-body.clearfix
            .text-center
              %h3.text-color.m-t-xs.m-b-md.fw-600.fz-lg
                %i.fa.fa-envelope
                %span 9 
              .text-warning
                .m-r-xs
                %sapn 10 correo faltantes
            .pull-right
      .col-md-4
        .widget
          %header.widget-header
            %h4.widget-title.text-center Cotizaciones Realizadas
            //%small.pull-right.text-muted Hoy
          %hr.widget-separator
          .widget-body.clearfix
            .text-center
              %h3.text-color.m-t-xs.m-b-md.fw-600.fz-lg
                %i.fa.fa-file-excel-o
                %span 2 
              .text-danger
                Cotizaciones Enviadas
      .col-md-4
        .widget
          %header.widget-header
            %h4.widget-title.text-center Presupuesto Asignado
          %hr.widget-separator
            .widget-body.clearfix
              .text-center
                %h3.text-color.m-t-xs.m-b-md.fw-600.fz-lg
                  %i.fa.fa-money 
                  %span $ 1.000.000
                .text-success
                  Presupuesto Asignado
    .row
      .col-md-8
        .widget
          %header.widget-header
            %h4.widget-title.pull-left Promedio de Cotizaciones
            %small.pull-right.text-success actualizacion: Hoy
          %hr.widget-separator 
          .widget-body.clearfix
            %div{:style => "margin-bottom: 390px;"}
      .col-md-4
        .widget
          %header.widget-header
            %h4.widget-title.pull-left Correo Enviados
          %hr.widget-separator
          .widget-body.clearfix
            =render('lista')
    .row
      .col-md-12
        .widget
          %header.widget-header
            %h4.widget-title.pull-left Status Actual de cotizaciones
            //%small.pull-right.text-success Ultima actualizacion: hoy
          %hr.widget-separator
          .widget-body.clearfix
            .table-responsive
              %table.table.no-cellborder
                %thead
                  %tr
                    %th Nombre Encargado
                    %th Empresa
                    %th Prioridad
                    %th Valor total
                    %th Estado Actual
                    %th Fecha de Creacion
                %tbody
                  %tr
                    %td.text-info Firm Website
                    %td John Doe
                    %td High
                    %td 120$
                    %td
                      %span.label.label-info Initiation
                    %td 06/03/2016
                  %tr
                    %td.text-success Security Test
                    %td Jane Doe
                    %td High
                    %td 2500$
                    %td
                      %span.label.label-success System Analysis
                    %td 05/15/2016
                  %tr
                    %td.text-warning Branches Linking
                    %td Diana Aid
                    %td Normal
                    %td 1500$
                    %td
                      %span.label.label-warning System Design
                    %td 05/26/2016
                  %tr
                    %td.text-purple Resources Optimization
                    %td Sara Adams
                    %td Low
                    %td 1300$
                    %td
                      %span.label.label-purple Specification
                    %td 06/02/2016
                  %tr
                    %td.text-pink Office Automation
                    %td Ibrahim Ali
                    %td Normal
                    %td 7200$
                    %td
                      %span.label.label-pink Implementation
                    %td 06/13/2016
                  %tr
                    %td.text-danger System Recovery
                    %td Smith Adams
                    %td Normal
                    %td 1000$
                    %td
                      %span.label.label-danger Maintenance
                    %td 06/02/2016
