.promo
    .promo-body
        %form{:action => "#"}
            .row
                .form-group
                    .col-xs-12.col-sm-8.col-md-offset-1
                        %input{:type => "search", :class => "form-control promo-search-field", placeholder:'Nombre del Cliente o Usuario...'}/
                    .col-xs-12.col-sm-2
                        %input{:type => "submit", :class => "btn btn-primary btn-block promo-search-submit", :value => "Buscar"}/
                    
    .promo-footer
        .row.no-gutter
            .col-sm-2.col-xs-6.promo-tab
                %a{:href => "#"} Usuarios
            .col-sm-2.col-xs-6.promo-tab
.wrap
    %section#app-content
        .panel.panel-default
            .panel-heading.bg-white
                %p.panel-title.text-muted Mis Usuarios
            .panel-body
                .row.m-b-lg
                =render ('admin/partialsUsuarios/list-usuarios')
                =render ('admin/partialsUsuarios/modal-ver')