#modalDelete.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLongTitle", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "dialog"}
    .modal-content
      .modal-header.danger
        %h5.modal-title Plataforma Inelec SAS
      .modal-body
        %p{:style => "font-size: 16px;"} ¿ Deseas realmente Eliminar este Usurio ?
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} No
        %button.btn.btn-danger.btn-outline{:type => "button"} Si
