%section#section-contact.section-padding
  .container
    .row
      .col-md-12
        .section-heading.text-center
          %h2 Contáctenos
          %p Deseas saber más información personalizada y detallada, déjanos tu comentario, inquietud o duda.
          %p ¡Estamos felices de poder ayudarte!


    .row
      .col-md-4
        %ul.contact-info
          %li.info-block
            .icon-block
              %i.icon.icon-mobile
            %h4 Teléfonos
            %p +57 (1) 622 7304
          %li.info-block
            .icon-block
              %i.icon.icon-globe
            %h4 Correo electronico
            %p info@inelec.co

          %li.info-block
            .icon-block
              %i.icon.icon-map
            %h4 Dirección
            %p Calle 94A #13-91 Oficina 204
      .col-md-8
        %form#contact-form{:action => "process.php", :method => "post", :role => "form"}
          .col-md-6.col-sm-12
            #name-field.form-group
              %input#form-name.form-control.contact-form-field.cffield-upper{:name => "fname", :placeholder => "Nombre", :required => "", :type => "text"}/
          .col-md-6.col-sm-12
            #email-field.form-group
              %input#form-email.form-control.contact-form-field.cffield-upper{:name => "femail", :placeholder => "Email", :required => "", :type => "email"}/
          .col-md-12.col-sm-12
            #subject-field.form-group
              %input#form-subject.form-control.contact-form-field.cffield-upper{:name => "fsubject", :placeholder => "Asunto", :required => "", :type => "text"}/
          .col-md-12
            #message-field.form-group.form-text.text-center
              %textarea#form-message.form-control.contact-form-field{:cols => "30", :name => "fmessage", :placeholder => "Mensaje", :required => "", :rows => "6"}
          .col-md-12.text-center
            %button.btn.btn-primary.feature{:type => "submit"} Enviar Correo
