%section#section-contact.section-padding
  .container
    .row
      .col-md-12
        .section-heading.text-center
          %h2 Contactenos
          %p Magnam libero incidunt quibusdam, minima ipsa labore autem voluptatibus dolorem mollitia at, sit vero consequuntur perferendis harum facere quia aut cumque. Blanditiis!
   
    .row
      .col-md-4
        %ul.contact-info
          %li.info-block
            .icon-block
              %i.icon.icon-mobile
            %h4 Telefonos
            %p +56 789 5679
          %li.info-block
            .icon-block
              %i.icon.icon-globe
            %h4 Correo electronico
            %p info@inelec.com.co
            
          %li.info-block
            .icon-block
              %i.icon.icon-map
            %h4 Direccion
            %p north east , 7/12 market road,US
      .col-md-8
        %form#contact-form{:action => "process.php", :method => "post", :role => "form"}
          .col-md-6.col-sm-12
            #name-field.form-group
              %input#form-name.form-control.contact-form-field.cffield-upper{:name => "fname", :placeholder => "Nombre", :required => "", :type => "text"}/
          .col-md-6.col-sm-12
            #email-field.form-group
              %input#form-email.form-control.contact-form-field.cffield-upper{:name => "femail", :placeholder => "Email", :required => "", :type => "email"}/
          .col-md-12.col-sm-12
            #subject-field.form-group
              %input#form-subject.form-control.contact-form-field.cffield-upper{:name => "fsubject", :placeholder => "Asunto", :required => "", :type => "text"}/
          .col-md-12
            #message-field.form-group.form-text.text-center
              %textarea#form-message.form-control.contact-form-field{:cols => "30", :name => "fmessage", :placeholder => "Mensaje", :required => "", :rows => "6"}
          .col-md-12.text-center
            %button.btn.btn-primary.feature{:type => "submit"} Enviar Correo