%footer#section-footer
  .container
    .row
      .col-md-6
        .footer-content
          %h4.wow.fadeInUp © copyright reserved to Inelec Internacional S.A.S
      .col-md-6
        .footer-content
          %a.politica{:href => "politica.pdf", "target" => "_blank"}
            %h5.wow.fadeInUp{"data-wow-delay" => ".3s"} Política de Tratamiento de Datos y Privacidad
