%section#section-aliados
  .container-fluid
    .row
      .col-md-6.col-md-offset-3{:style => "margin-top: -91px !important;"}
        .section-heading.text-center.wow.fadeInUp
          %h2 Nuestros Aliados
        .row
          .col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => ".2s"}
            .sponsor
              %a{:href => "http://new.abb.com/", "target" => "_blank"}
                %img.img-responsive{:src => "image/products/abb.png", :alt => ""}/
                /%img.img-responsive.center-block{:alt => "", :src => "assets/img/client/partner_01.png"}
          .col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => ".4s"}
            .sponsor
              %a{:href => "http://www.solcon.com/", "target" => "_blank"}
                %img.img-responsive{:src => "image/products/solcon.png", :alt => ""}/
                /%img.img-responsive.center-block{:alt => "", :src => "assets/img/client/partner_02.png"}
          .col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => ".6s"}
            .sponsor
              %a{:href => "http://www.flir.com.mx/home/", "target" => "_blank"}
                %img.img-responsive{:src => "image/products/flir.png", :alt => ""}/
                /%img.img-responsive.center-block{:alt => "", :src => "assets/img/client/partner_03.png"}
        .row
          .col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => ".2s"}
            .sponsor
              %a{:href => "http://www.azz.com/", "target" => "_blank"}
                %img.img-responsive{:src => "image/products/azz.png", :alt => ""}/
                /%img.img-responsive.center-block{:alt => "", :src => "assets/img/client/partner_01.png"}
          .col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => ".4s"}
            .sponsor
              %a{:href => "http://www.philamixers.com/", "target" => "_blank"}
                %img.img-responsive{:src => "image/products/phila.png", :alt => ""}/
                /%img.img-responsive.center-block{:alt => "", :src => "assets/img/client/partner_02.png"}
          .col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => ".6s"}
            .sponsor
              %a{:href => "http://www.stentofon.com.au/", "target" => "_blank"}
                %img.img-responsive{:src => "image/products/stentofon.png", :alt => ""}/
                /%img.img-responsive.center-block{:alt => "", :src => "assets/img/client/partner_03.png"}
        .row
          .col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => ".2s"}
            .sponsor
              %a{:href => "http://www.telescada.com/", "target" => "_blank"}
                %img.img-responsive{:src => "image/products/telescada.png", :alt => ""}/
                /%img.img-responsive.center-block{:alt => "", :src => "assets/img/client/partner_01.png"}
          .col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => ".4s"}
            .sponsor
              %a{:href => "http://www.easypower.com/", "target" => "_blank"}
                %img.img-responsive{:src => "image/products/easypower.png", :alt => ""}/
                /%img.img-responsive.center-block{:alt => "", :src => "assets/img/client/partner_02.png"}
          .col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => ".6s"}
            .sponsor
              %a{:href => "http://www.electrocon.com/", "target" => "_blank"}
                %img.img-responsive{:src => "image/products/electrocon.png", :alt => ""}/
                /%img.img-responsive.center-block{:alt => "", :src => "assets/img/client/partner_03.png"}
