%section#section-team.section-padding
  .container
    .row
      .col-md-6
        .section-heading
          %h2.text-center Nuestro Equipo
          %p{:style => "text-align: justify !important;"} Tenemos los mejores profesionales brindarte las mejores soluciones.
          %a.read-more{:href => "#main-banner"} + Mas
      .col-md-6
        .row
          #speaker-carousel.carousel.slide
            .carousel-inner
              .item.active
                .col-md-6.col-sm-6
                  .speaker-box
                    .img-block
                      =image_tag('team/team1.jpg', class:'img-responsive')
                      /%img.img-responsive{:alt => "", :src => "assets/img/speaker/team1.jpg"}/
                    .speaker-info
                      %h4 lora kertin
                      %p ui engineer at Dreambuzz
                      %ul.list-inline.speaker-social
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-facebook
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-skype
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-linkedin
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-twitter
                .col-md-6.col-sm-6
                  .speaker-box
                    .img-block
                      =image_tag('team/team2.jpg', class:'img-responsive')
                      /%img.img-responsive{:alt => "", :src => "assets/img/speaker/team2.jpg"}/
                    .speaker-info
                      %h4 lora kertin
                      %p ui engineer at Dreambuzz
                      %ul.list-inline.speaker-social
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-facebook
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-skype
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-linkedin
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-twitter
                .col-md-6.col-sm-6
                  .speaker-box
                    .img-block
                      = image_tag('team/team3.jpg', class:'img-responsive')
                      /%img.img-responsive{:alt => "", :src => "assets/img/speaker/team3.jpg"}/
                    .speaker-info
                      %h4 lora kertin
                      %p ui engineer at Dreambuzz
                      %ul.list-inline.speaker-social
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-facebook
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-skype
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-linkedin
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-twitter
                .col-md-6.col-sm-6
                  .speaker-box
                    .img-block
                      = image_tag('team/team3.jpg', class:'img-responsive')
                      /%img.img-responsive{:alt => "", :src => "assets/img/speaker/team4.jpg"}/
                    .speaker-info
                      %h4 lora kertin
                      %p ui engineer at Dreambuzz
                      %ul.list-inline.speaker-social
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-facebook
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-skype
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-linkedin
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-twitter
              / item end
              .item
                .col-md-6.col-sm-6
                  .speaker-box
                    .img-block
                      %img.img-responsive{:alt => "", :src => "assets/img/speaker/team3.jpg"}/
                    .speaker-info
                      %h4 lora kertin
                      %p ui engineer at Dreambuzz
                      %ul.list-inline.speaker-social
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-facebook
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-skype
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-linkedin
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-twitter
                .col-md-6.col-sm-6
                  .speaker-box
                    .img-block
                      %img.img-responsive{:alt => "", :src => "assets/img/speaker/team2.jpg"}/
                    .speaker-info
                      %h4 lora kertin
                      %p ui engineer at Dreambuzz
                      %ul.list-inline.speaker-social
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-facebook
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-skype
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-linkedin
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-twitter
                .col-md-6.col-sm-6
                  .speaker-box
                    .img-block
                      %img.img-responsive{:alt => "", :src => "assets/img/speaker/team1.jpg"}/
                    .speaker-info
                      %h4 lora kertin
                      %p ui engineer at Dreambuzz
                      %ul.list-inline.speaker-social
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-facebook
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-skype
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-linkedin
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-twitter
                .col-md-6.col-sm-6
                  .speaker-box
                    .img-block
                      %img.img-responsive{:alt => "", :src => "assets/img/speaker/team4.jpg"}/
                    .speaker-info
                      %h4 lora kertin
                      %p ui engineer at Dreambuzz
                      %ul.list-inline.speaker-social
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-facebook
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-skype
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-linkedin
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-twitter