%section#section-conference.section-padding
  .container
    .row
      .col-md-3.col-sm-6.col-xs-12
        .about-box
          %i.icon.icon-document
          %h3 Certificado 1
      .col-md-3.col-sm-6.col-xs-12
        .about-box
          %i.fa.icon-document
          %h3 Certificado 2
      .col-md-3.col-sm-6.col-xs-12
        .about-box
          %i.icon.icon-document
          %h3 Certificado 3
      .col-md-3.col-sm-6.col-xs-12
        .about-box
          %i.fa.icon-document
          %h3 Certificado 4


