%section#main-banner
    %section#section-about.section-padding
        .container
            .row
                .col-md-4
                .col-md-4.col-sm-4.col-lg-4
                    .about-block
                        %div{:style => "margin-top: 30px;"}
                        %img.img-responsive{:src => "http://placehold.it/350x150", :alt => ""}/
                        %h3.text-center Inelec International S.A.S
                        %p{:style => "text-align: center !important;"}
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id illo aliquid assumenda, porro numquam debitis, laudantium sint alias tempora. Debitis, laborum ducimus eius veritatis, commodi necessitatibus tenetur ab voluptatibus beatae.
                .col-md-4