%section#main-banner
    %section#section-about.section-padding
        .container
            .row
                .col-md-4
                .col-md-4.col-sm-4.col-lg-4
                    .about-block
                        %div{:style => "margin-top: 30px;"}
                        %img.img-responsive{:src => "http://placehold.it/350x150", :alt => ""}/
                        %h3.text-center Inelec International S.A.S
                        %p{:style => "text-align: justify !important;"} INELEC International S.A.S. suministra soluciones de ingeniería para el manejo, control, generación, transmisión, distribución, variación de potencia eléctrica y sistemas de agitación y mezcla de fluidos, así como sistemas de seguridad perimetral, para el sector petrolero, eléctrico, minero, cementero y en los principales sectores de la industria en Colombia, Ecuador y Venezuela.
                        %p{:style => "text-align: justify !important;"} Nuestros productos están a la vanguardia tecnológica, y nuestros servicios se caracterizan por su profesionalismo y experiencia, brindando respuestas integrales en las áreas de confiabilidad del sistema eléctrico, ahorro de energía y calidad de potencia.
                    .col-md-4
