// Banner slider with background image
=render ('banner-slide')
// End

// About Section
=render ('about')
// End

// Team
=render('team')
// End

// Mejoramiento y nuestros aliados
=render ('Mejoramiento-aliados')
// End

//Contactenos
=render ('contact')
//End
