%header#masthead.site-header.site-header-fixed-top
  %nav#siteHeaderNavbar.site-header-navbar.navbar.navbar-lg.navbar-fixed-top.navbar-bg-from-transparent.navbar-fg-from-light.navbar-default
    .container
      .row
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", :type => "button"}
            %i.fa.fa-bars
          %a.navbar-brand.page-scroll{:href => "/"}
            %img.img-responsive{:src => "image/logo.png", :alt => "", :class => "img-responsive", :style => "width: 55%;"}/

        .collapse.navbar-collapse.navbar-main-collapse.navbar-right
          %ul.nav.navbar-nav
            %li
              %a.btn.btn-default.atras{:href => "/"}
                %i.fa.fa-long-arrow-left Atrás
          .navbar-btn.navbar-right
            %a.page-scroll.btn.btn-feature.navbar-link{:href => "/auth/login"} Login
