%section#main-banner
    %section#section-about.section-padding
        .container
            .row
                .col-md-2
                .col-md-8.col-sm-12.col-lg-8
                    .products
                        %div{:style => "margin-top: 30px;"}
                        %img.img-responsive{:src => "image/products/phila.png", :alt => "", :style => "width: 70%; min-height: 81px;", :class => "img-responsive center-block"}/
                        %h3.text-center
                        %p{:style => "text-align: justify !important;"} Con una gama completa de productos mundialmente aprobados, servicios y laboratorio de pruebas (el más grande a nivel mundial), Philadelphia Mixing Solutions Ltd., es uno de los expertos y más experimentados fabricantes de sistemas de mezcla de líquidos y optimización de procesos en el mundo.
                        %p{:style => "text-align: justify !important;"} Philadelphia Mixing Solutions, Ltd. tiene presencia a nivel mundial, para proporcionar el mejor apoyo y servicio para sus necesidades, y según el requerimiento específico. Con más de 60 años de experiencia, continúa siendo el líder e innovador en el diseño y fabricación de equipos de agitación y aireación.
