%section#main-banner
    %section#section-about.section-padding
        .container
            .row
                .col-md-3.col-sm-12.col-lg-3
                    .products
                        %div{:style => "margin-top: 30px;"}
                        %img.img-responsive{:src => "image/products/abb.png", :alt => "", :style => "width: 70%; min-height: 74px;", :class => "img-responsive center-block"}/
                        %h3.text-center
                        %p{:style => "text-align: justify !important;"} ABB (acrónimo de Asea Brown Boveri) es una compañía multinacional, cuya sede central queda en Zürich, Suiza y cuyos mayores negocios son los de tecnologías en generación de energía eléctrica y en automatización industrial, actualmente presente en Colombia y con quien INELEC ha establecido un Acuerdo de Colaboración y Distribución de Productos Especializados.
                    %a{:href => "http://new.abb.com/", "target" => "_blank", :style => "color: blue;"} Página Oficial
                .col-md-3.col-sm-12.col-lg-3
                    .products
                        %div{:style => "margin-top: 30px;"}
                        %img.img-responsive{:src => "image/products/solcon.png", :alt => "", :style => "width: 70%; min-height: 74px;", :class => "img-responsive center-block"}/
                        %h3.text-center
                        %p{:style => "text-align: justify !important;"} SOLCON es un fabricante especializado de equipos para sistemas de control de arranque de motores, arrancadores suaves en baja y media tensión, para aplicaciones en la industria en general y especialista en aplicaciones marinas.
                        %p{:style => "text-align: justify !important;"} INELEC International S.A.S cuenta con ingenieros certificados en fábrica y es Centro de Servicio Autorizado de SOLCON para atender sistemas de Media y Baja Tensión en Colombia y Latinoamérica.
                    %a{:href => "http://www.solcon.com/", "target" => "_blank", :style => "color: blue;"} Página Oficial
                .col-md-3.col-sm-12.col-lg-3
                    .products
                        %div{:style => "margin-top: 30px;"}
                        %img.img-responsive{:src => "image/products/telescada.png", :alt => "", :style => "width: 70%; min-height: 74px;", :class => "img-responsive center-block"}/
                        %h3.text-center
                        %p{:style => "text-align: justify !important;"} TELESCADA es fabricante de un dispositivo novedoso y muy útil para la industria en general, el cual a gran distancia, permite visualizar en las redes eléctricas, las fallas o apertura en fusibles de Media Tensión, y permite detectar cuando un fusible está abierto, ya que el “Firefly” se activa automáticamente al detectar la falla y emite una luz intermitente que se puede visualizar hasta una milla de distancia en la noche.
                    %a{:href => "http://www.telescada.com/", "target" => "_blank", :style => "color: blue;"} Página Oficial
                .col-md-3.col-sm-12.col-lg-3
                    .products
                        %div{:style => "margin-top: 30px;"}
                        %img.img-responsive{:src => "image/products/azz.png", :alt => "", :style => "width: 70%; min-height: 74px;", :class => "img-responsive center-block"}/
                        %h3.text-center
                        %p{:style => "text-align: justify !important;"} INELEC International S.A.S. es representante exclusivo para Colombia, Ecuador y Venezuela de las empresas AZZ/Calvert/CGIT, quienes se especializan en la fabricación de Ductos de Barras para transportar “Potencia” en Baja, Media y Alta Tensión (hasta 1200kV).
                        %p{:style => "text-align: justify !important;"} Estos productos son empleados principalmente en plantas de generación de energía, líneas de transmisión a nivel de piso y/o subterráneas, subestaciones de distribución de energía y en interconexión de centros de control de motores.
                    %a{:href => "http://www.azz.com/", "target" => "_blank", :style => "color: blue;"} Página Oficial
