%section#main-banner
    %section#section-about.section-padding
        .container
            .row
                .col-md-1
                .col-md-5.col-sm-12.col-lg-5
                    .products
                        %div{:style => "margin-top: 30px;"}
                        %img.img-responsive{:src => "image/products/flir.png", :alt => "", :style => "width: 40%; min-height: 81px;", :class => "img-responsive center-block"}/
                        %h3.text-center
                        %p{:style => "text-align: justify !important;"} La compañía FLIR Systems Inc, ha enfocado todos sus esfuerzos, en brindar una solución total e integral en Seguridad perimetral y CCTV, ofreciendo en el mercado todos los niveles de integración, ajustados a la medida, desde pequeños negocios y pocas cámaras, pasando por proyectos medianos y con capacidad de integraciones exigentes para seguridad hasta de mega-ciudades y con bastante flexibilidad y escalabilidad.
                        %p{:style => "text-align: justify !important;"} Hoy día FLIR tiene disponible productos y soluciones para todo tipo de necesidad, con todo lo disponible en tecnología de punta, analíticas avanzadas y sistemas de imagen térmica para cualquier rango de detección.
                    %a{:href => "http://www.flir.com/", "target" => "_blank", :style => "color: blue;"} Página Oficial
                .col-md-5.col-sm-12.col-lg-5
                    .products
                        %div{:style => "margin-top: 30px;"}
                        %img.img-responsive{:src => "image/products/vstentofon.png", :alt => "", :style => "width: 90%; min-height: 81px;", :class => "img-responsive center-block"}/
                        %h3.text-center
                        %p{:style => "text-align: justify !important;"} El portafolio de Comunicación Crítica de STENTOFON ofrece software y hardware de audio de alta calidad. Con tan sólo oprimir un botón, usted puede llamar para obtener asistencia inmediata, garantizando que la voz al otro extremo, se puede oír fuerte y claro, eliminando malas interpretaciones o confusión; incluso en ambientes altamente ruidosos, ofrecemos audio claro como el “cristal” – esto es logrado gracias a nuestras estaciones Turbine, con amplificadores de 10 vatios, niveles de presión sonora de hasta de 105 dB y software de cancelación activa de ruido.
                    %a{:href => "http://www.stentofon.com.au/", "target" => "_blank", :style => "color: blue;"} Página Oficial
