%section#main-banner
    %section#section-about.section-padding
        .container
            .row
                .col-md-3.col-sm-12.col-lg-3
                    .products
                        %div{:style => "margin-top: 30px;"}
                        %img.img-responsive{:src => "image/products/azz.png", :alt => "", :style => "width: 70%; min-height: 74px;", :class => "img-responsive center-block"}/
                        %h3.text-center
                        %p{:style => "text-align: justify !important;"} Contamos con técnicos certificados en fábrica, para realizar las actividades de verificación del estado operacional de los equipos, parametrización, pruebas iniciales de funcionamiento y puesta a punto para operación continua, así como la asistencia técnica para diagnóstico y corrección ante la presencia de fallas, de los equipos de control de motores eléctricos (Arrancadores Suaves y Variadores de Frecuencia).
                        %p{:style => "text-align: justify !important;"} Somos Centro de Servicio Técnico Autorizado, lo cual garantiza la operación y puesta en marcha de los equipos de acuerdo a cada aplicación, minimizando cualquier impacto negativo en el sistema eléctrico de su planta y obteniendo el máximo de eficiencia y ahorro energético en los procesos.
                    %a{:href => "http://www.azz.com/", "target" => "_blank", :style => "color: blue;"} Página Oficial
                .col-md-3.col-sm-12.col-lg-3
                    .products
                        %div{:style => "margin-top: 30px;"}
                        %img.img-responsive{:src => "image/products/flir.png", :alt => "", :style => "width: 70%; min-height: 74px;", :class => "img-responsive center-block"}/
                        %h3.text-center
                        %p{:style => "text-align: justify !important;"} Fabricante especializado de equipos para sistemas de control de arranque de motores, arrancadores suaves en baja y media tensión, para aplicaciones en la industria en general y especialista en aplicaciones marinas.
                        %p{:style => "text-align: justify !important;"} INELEC International S.A.S cuenta con ingenieros certificados en fábrica y es Centro de Servicio Autorizado de SOLCON para atender sistemas de Media y Baja Tensión en Colombia y Latinoamérica.
                    %a{:href => "http://www.flir.com/", "target" => "_blank", :style => "color: blue;"} Página Oficial
                .col-md-3.col-sm-12.col-lg-3
                    .products
                        %div{:style => "margin-top: 30px;"}
                        %img.img-responsive{:src => "image/products/phila.png", :alt => "", :style => "width: 70%; min-height: 74px;", :class => "img-responsive center-block"}/
                        %h3.text-center
                        %p{:style => "text-align: justify !important;"} Contamos con personal calificado y los equipos requeridos para brindar asistencia en la instalación y puesta en funcionamiento de sistemas de agitación y mezcla, así como de diagnóstico y mantenimiento de los mismos.
                    %a{:href => "http://www.philamixers.com/", "target" => "_blank", :style => "color: blue;"} Página Oficial
                .col-md-3.col-sm-12.col-lg-3
                    .products
                        %div{:style => "margin-top: 30px;"}
                        %img.img-responsive{:src => "image/products/solcon.png", :alt => "", :style => "width: 70%; min-height: 74px;", :class => "img-responsive center-block"}/
                        %h3.text-center
                        %p{:style => "text-align: justify !important;"} INELEC International S.A.S. es representante exclusivo para Colombia, Ecuador y Venezuela de las empresas AZZ/Calvert/CGIT, quienes se especializan en la fabricación de Ductos de Barras para transportar “Potencia” en Baja, Media y Alta Tensión (hasta 1200kV).
                        %p{:style => "text-align: justify !important;"} Estos productos son empleados principalmente en plantas de generación de energía, líneas de transmisión a nivel de piso y/o subterráneas, subestaciones de distribución de energía y en interconexión de centros de control de motores.
                    %a{:href => "http://www.solcon.com/", "target" => "_blank", :style => "color: blue;"} Página Oficial
