%section#main-banner
    %section#section-about.section-padding
        .container
            .row
                .col-md-1
                .col-md-5.col-sm-12.col-lg-5
                    .products
                        %div{:style => "margin-top: 30px;"}
                        %img.img-responsive{:src => "image/products/easypower.png", :alt => "", :style => "width: 50%; min-height: 30px;", :class => "img-responsive center-block"}/
                        %h3.text-center
                        %p{:style => "text-align: justify !important;"} Software para análisis de sistemas de potencia Industriales conformado por los módulos PowerFlow, ANSI ShortCircuit, PowerProtector, Spectrum y ArcFlash. Con el software EasyPower® puede realizar análisis de flujo de cargas, cortocircuito, coordinación de protecciones, análisis de armónicos, verificación de cumplimiento con las normas OSHA-29, NFPA-70E e IEEE-1584, simulaciones de contingencias operativas, optimización de sus sistemas eléctricos y arcos eléctricos.
                    %a{:href => "http://www.easypower.com/", "target" => "_blank", :style => "color: blue;"} Página Oficial

                .col-md-5.col-sm-12.col-lg-5
                    .products
                        %div{:style => "margin-top: 30px;"}
                        %img.img-responsive{:src => "image/products/electrocon.png", :alt => "", :style => "width: 50%; min-height: 30px;", :class => "img-responsive center-block"}/
                        %h3.text-center
                        %p{:style => "text-align: justify !important;"} Fabricante especializado de equipos para sistemas de control de arranque de motores, arrancadores suaves en baja y media tensión, para aplicaciones en la industria en general y especialista en aplicaciones marinas.
                        %p{:style => "text-align: justify !important;"} INELEC International S.A.S cuenta con ingenieros certificados en fábrica y es Centro de Servicio Autorizado de SOLCON para atender sistemas de Media y Baja Tensión en Colombia y Latinoamérica.
                    %a{:href => "http://www.electrocon.com/", "target" => "_blank", :style => "color: blue;"} Página Oficial
